$accent: #FA7453;
$footer-bg: #FCFAF9;
$ios-button: #191826;
$ios-button-hover: #66E2DC;
$android-button: #FCFAF9;
$text1-color: $android-button;
$text2-color: $ios-button;
$android-button-hover: #FFB964;