@use 'reset' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

@mixin buttons($color, $hover) {
  border-radius: 12px;
  background: $color;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 7.92px;
  font-size: 18px;
  padding: 15px 59px;

  &:hover {
    background: $hover;
  }
}

@mixin space {
  padding: 0 24px;

  @include md {
    padding: 0 39px;
  }

  @include xl {
    padding: 0 165px;
  }
}


body {
  font-family: IBM Plex Sans, sans-serif;
  background-image: url(../assets/bg-main-mobile.png);
  background-color: $footer-bg;
  background-repeat: no-repeat;
  background-position: 1% -22%;

  @include md {
    background-image: none;
    background-image: url(../assets/bg-pattern-1.svg), url(../assets/bg-main-tablet.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 111% -1%, 72% -19%;
  }


  @include lg {
    background-position: 106% -1%, 72% -19%;
  }

  @include xl {
    background-image: url(../assets/bg-pattern-1.svg), url(../assets/bg-main-desktop.png);
    background-position: 100% -1%, center right;
  }
}

nav {
  @include space;
  padding-top: 39.99px;
  margin-bottom: 64px;

  @include md {
    padding-top: 61.99px;
  }
}

.bg {
  height: 600px;
  border-radius: 12px;
  background-image: url(../assets/bg-pattern-2.svg);
  background-color: $text2-color;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 444px;

  @include md {
    margin-bottom: 115px;
    background-position-x: center;
    background-position-y: -60px;
    margin: 0 39px;

    .max {
      max-width: 607px;
      margin: 0 auto;
    }
  }

@include xl {
  background-position-y: -30px;
  margin: 0 165px;


}
}

section {

  h1,
  h2,
  .four-dollars {
    font-weight: 700;
  }

  p,
  button {
    font-weight: 400;
  }

  .hero__text {
    @include space;
    margin-bottom: 200px;

    h1 {
      font-size: 2.5em;
      color: $text2-color;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      color: $text2-color;
    }

    @include md {
      max-width: 534px;
    }

    // @include md {
    //   .hero__text {
    //     width: 66%;
    //     padding-top: 100px;

    //     h1 {
    //       font-size: 64px;
    //       line-height: 64px;
    //     }
    //   }
    // }

    @include xl {
      // max-width: 770px;
      width: 100%;
      max-width: 1192px;
      margin-bottom: 20%;


      h1 {
        font-size: 88px;
        line-height: 88px;
      }

      p {
        //   max-width: 534px;
        margin-top: 40px;
        max-width: 825px;
        font-size: 20px;
      }
    }

  }

  .image {
    display: flex;
    justify-content: center;

    img {
      margin: -130px 0;
      max-width: 250px
    }

    @include md {
      justify-content: inherit;
      padding-left: 0;

      img {
        margin: -106px 0px;
        max-width: 250px;
      }
    }
@include xl {

  img {
    // margin: -106px -25px;
    margin: -203px -86px;
    width: 312px;
    max-width: none;
  }
}

  }

  .call-to-action {
    background: $accent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 36px;
    color: $text1-color;
    z-index: 1;
    margin: 176px 0 0;

    h2 {
      line-height: 40px;
      font-size: 2em;
    }

    p {
      line-height: 28px;
      font-size: 1.125em;
      margin-bottom: 36px;
      margin-top: 12px;
    }

    .price {
      font-size: 1.25em;
      margin-bottom: 32px;

      .four-dollars {
        font-size: 4.0625em;
        line-height: 52px;
      }
    }

    .ios {
      @include buttons($ios-button, $ios-button-hover);
      color: $text1-color;
      margin-bottom: 16px;
      padding: 15px 77px;

    }

    .android {
      @include buttons($android-button, $android-button-hover);
    }

    @include md {
      position: absolute;
      margin: -161px 0 0 161px;
      width: 399px;

      .max {
        // max-width: 500px;
      }
    }

    @include xl {
      margin: -57px 0 0 361px;
      width: 446px;
      margin-bottom: 80px;
    }

  }

}

footer {
  background-color: $footer-bg;
  padding: 64px 24px;

  p {
    margin: 32px 0 64px;
    font-size: 16px;
    max-width: 296px;
    line-height: 26px;
  }

  span {
    font-weight: bold;
  }

  ul {
    display: flex;
    gap: 20px; 
    
    img:hover {
      color: $accent;
    }

    @include md {
      align-self: flex-end;
      margin-bottom: 80px;
    }
  }

  @include md {
    .footer__text {
      display: flex;
      justify-content: space-between;

      p {
        max-width: 303.4px;
      }
    }

  }

  @include xl {
    // margin-top: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px  165px 0;

  

    .footer__text {
      gap: 700px;
}
  }
}